branches:
  only:
  - 2-travis-deployment
language: node_js
node_js:
- '0.12'
install:
- npm install -g gulp
- npm install
before_script:
- git remote set-url origin "https://${GH_TOKEN}@github.com/atsid/engineering.git"
- git config --global user.email "github@atsid.com"
- git config --global user.name "Travis-CI"
script:
- gulp deploy