---
layout: home
---

<div class="home">
    <section id="guides" class="wrapper row">
        <div class="section-introduction">
            <h2>Developer Guides</h2>
            <p>These guides are a community-developed set of practice documents that describe how we operate as a team.</p>
        </div>
        <div>
        {% for page in site.pages %}
            {% if page.title %}
                <section class="column column-4 card">
                    <h4><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h4>
                    <p>{{ page.description }}</p>
                    <a class="page-link-small" href="{{ page.url | prepend: site.baseurl }}">Learn more</a>
                </section>
            {% endif %}
        {% endfor %}
        </div>
    </section>

    <section id="blog" class="blog">
        <div class="wrapper section-introduction">
            <h2>Tech Blog</h2>
            <p>Public tech blog from the developers, designers, and leadership at ATS.</p>
        </div>
        <div class=" wrapper posts-list">
        {% for post in site.posts %}
            <section>
                <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <p>{{ post.description }}</p>
                <a class="page-link-small" href="{{ post.url | prepend: site.baseurl }}">Continue reading</a>
            </section>
        {% endfor %}
        </div>
    </section>

</div>
