// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Intro
.introduction {
    $bg-image: '../assets/images/bg-pattern.png';
    @include background(url($bg-image) repeat center center scroll);    

    margin: 0;
    
    section {
        margin: 0 auto;
        max-width: 78em;
    }

    p {
        color: white;
        font-size: $base-font-size + 15;
        font-weight: 300;
        margin: 0;
        padding: 4.5em 1em;
        text-align: left;
    }

    img {
        max-width: 30em;
        top: 2.2em
    }     

    @include respond-to('large') {
        p {
            @include transition(all .3s ease);
            font-size: $base-font-size + 8;
            padding-right: 2em;
        }
        img {
            top: 2em;
            max-width: 24em;
        }
    }

    @include respond-to('medium') {
        section {
            text-align: center;
            max-width: 30em;
        }

        p {
            font-size: $base-font-size + 5;
            padding: 1.6em 0 0.5em;
            text-align: center;
        }

        img {
            top: 1.3em;
            max-width: 18em;
        }
    }
}


// Dev Guides
.guides {
    margin-top: 4em;
    margin-bottom: 2em;

    .card {
        border-radius: 0.2em;
        border: $base-border; 
        min-height: 15em;
        padding: 0;
    }
    
    .excerpt {
        display: block;
        color: $text-color;
        text-decoration: none;

        &:hover {

            > * {
                @include transition(all .3s ease);
            }

            .caption {
                opacity: 1;
                transform: translateY(-90px);
            }

            .featured-image::after {
                display: block;
                content: '';
                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0,0.5);
            }

            h3 {
                color: $blue;
            }
        }
    }

    // Currently feature images rely on the page title for a unique class
    // We may want to rethink how we do this in the future
    .featured-image {
        background-color: $dark-gray;
        height: 166px;
        text-align: center;

        &.github {
            background: #7B3D86 url('../assets/images/feature-img-github.png') no-repeat;
            background-size: cover;
        }

        &.open-source {
            background: #F6CA64 url('../assets/images/feature-img-opensource.png') no-repeat;
            background-size: cover;
        }

        &.semver {
            background: #D13F46 url('../assets/images/feature-img-semver.png') no-repeat;
            background-size: cover;
        }
    }

    .caption {
        color: white;
        display: block;
        font-weight: 400;
        opacity: 0;
        position: absolute;
        width: 90%;
    }

    svg:not(:root) {
        position: absolute;
        margin-left: 10px;
    }

    .copy {
        padding: 2em;
        text-align: left;
         h3 {
            font-weight: 600;
            margin: 0;
        }
        p {
            margin-top: 0.5em;
        }
    }
}
