// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Intro
.introduction {
    $bg-image: '../assets/images/bg-pattern.png';
    @include background(url($bg-image) repeat center center scroll);    
    margin: 0;
    
    section {
        margin: 0 auto;
        max-width: 78em;
    }

    p {
        color: white;
        font-size: $base-font-size + 17;
        font-weight: 300;
        margin: 0;
        padding: 4.5em 1em 4.5em 1.75em;
        text-align: left;
    }

    img {
        max-width: 30em;
        top: 4.75em
    }     

    @include respond-to('large') {
        p {
            font-size: $base-font-size + 13;
            padding-right: 0;
        }
        img {
            top: 4.2em;
            max-width: 26em;
        }
    }

    @include respond-to('medium') {
        section {
            text-align: center;
            max-width: 30em;
        }

        p {
            font-size: $base-font-size + 11;
            padding: 1.8em 0 0.5em;
            text-align: center;
        }

        img {
            top: 1.6em;
            max-width: 18em;
        }
    }
}

// Dev Guide
.card {
    border-radius: 0.2em;
    border: $base-border; 
    min-height: 15em;
    padding: 2em 1em;
}

// Tech Blog
.blog {
    background: lighten($light-gray,8%);
    border-top: $base-border;
    margin-top: 5em;

    .posts-list {
        max-width: 45em;
        margin: 0 auto;
    }

    section {
        border-bottom: $base-border;
        margin-top: 2em;
        padding-bottom: 2.5em;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

