// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;


/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;


// BINGLES TO DO:
// Merge variables and purge

// Our variables
$base-font-family:    "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-size:      16px;
$small-font-size:     $base-font-size * 0.875;
$base-line-height:    1.5;

$spacing-unit:        30px;

//light versions are for opposite contrast (e.g., black background)
$text-color:          #111;
$text-color-light:    white;
$brand-color:         #B52223;
$brand-color-light:   white;

$grey-color:          #828282;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);
$grey-color-darkest:  darken($grey-color, 50%);
$grey-color-lightest: #ddd;
$grey-color-whiter:   #fcfcfc;

$background-color:    black;
$background-color-light:    white;

// Width of the content area
$content-width:       1440px;

$on-palm:             600px;
$on-laptop:           1024px;
