// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (max-width: 320px),
  'medium': (max-width: 878px),
  'large': (max-width: 1125px),
) !default;

// For grid purposes
$breakpoint-medium: 878px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;


// ATS variables
$base-font-family:    "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-size:      16px;
$small-font-size:     $base-font-size * 0.875;
$base-line-height:    1.5;

$spacing-unit:        1.6em;

//light versions are for opposite contrast (e.g., black background)
$text-color:          #111;
$text-color-light:    white;
$brand-color:         #B52223;
$brand-color-light:   white;

$grey-color:          #828282;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);
$grey-color-darkest:  darken($grey-color, 50%);
$grey-color-lightest: #ddd;
$grey-color-whiter:   #fcfcfc;

$background-color:    white;
$background-color-light:    white;

// colors
$blue: #0045AC;
$teal: #106567;
$red: #F90420;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #ddd;

// font colors
$base-background-color: #fff;
$base-header-font-color: $dark-gray;
$base-font-color: #4a4a4a; 
$action-color: $blue;

// border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Width of the content area
$content-width:       1440px;

$on-palm:             600px;
$on-laptop:           1024px;
