<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="introduction">
        <section class="wrapper row">
          <p class="column column-7">We <strong>love</strong> creating great software, and we'd like to share how we do it and why.</p>
          <img src="{{ site.baseurl }}/assets/images/computer.png" class="column column-5" alt="We have mad love for code">
        </section>
      </div>
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
