<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <section class="row introduction">
        <p class="column column-12">We love creating great software, and we'd like to share how we do it and why.</p>
        <!-- <img src="{{ site.baseurl }}/assets/images/computer.png" class="column column-4" alt="Computer"> -->
      </section>
      <div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
