// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.site-header {
    background-color: darken($dark-gray,3%);
}

.logo {
    float: left;
    padding-top: 24px;
    position: absolute;

    img {
        vertical-align: middle;
    }
}

.site-title {
    color: white;
    font-size: $small-font-size - 1;
    font-weight: 300;
    line-height: 80px;
    margin: 0 0 0 110px;
    float: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &,
    &:visited {
        color: white;
    }

    &:hover {
        text-decoration: none;
    }
}


.site-nav {
    float: right;
    line-height: 80px;

    .menu-icon {
        display: none;
    }

    .page-link {
        @include transition(all .3s ease);
        color: $text-color-light;
        line-height: $base-line-height;
        text-transform: uppercase;
        font-weight: 500;
        font-size: $small-font-size - 1;
        padding: 8px 0;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 25px;
        }

        &:hover {
            text-decoration: none;
            opacity: 0.75;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}