// ------------------------------------------------
// This file contains all styles related to posts.
// ------------------------------------------------

.post-header {
    border-bottom: $base-border;
    padding: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post {
    margin-top: 80px;
    background-color: white;
}
.post-content {
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.original {
    font-size: .9em;
    margin-top: 20px;
}

.emphasis-block {
    margin: 20px;
    padding: 20px 20px 0 20px;
    border: 1px dotted $grey-color-light;
    background-color: $background-color-light;
}

.credit {
    font-size: .6em;
    color: $grey-color-light;
    padding-top: 4px;
}