/**
 * Basic typography style for copy text
 */
body {
    color: $text-color;
    font-size: $base-font-size;
    font-weight: 200;
    font: normal 100% / 1.4 $base-font-family;
    line-height: $base-line-height;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2.5;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: darken($text-color,30%);
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

